.container {
  all: unset;
  cursor: pointer;
  background-color: var(--bg);
  padding: 5px 5px;
  text-align: center;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--border-color);
  text-transform: uppercase;
  font-size: 12px;
  margin-right: 5px;
  color: var(--text-color);
}

.container:hover {
  font-weight: 900;
  border: none;
}

.link {
  all: unset;
}
