.topic {
  display: flex;
  justify-content: center;
  margin-bottom: 1.8rem;
}
.topic__text {
  font-size: 40px;
  color: var(--topic-color);
  text-align: center;
  line-height: 40px;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.link {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-family: "Merriweather Sans", sans-serif;
}
.meta {
  color: var(--text-color);
  margin-top: 30px;
  text-align: center;
}

.meta__content {
  /* white-space: pre; */
}

.meta__name {
  text-align: center;
  margin: 30px;
}
