.topic {
  display: flex;
  justify-content: center;
  margin-bottom: 1.8rem;
}
.topic__text {
  font-size: 40px;
  color: var(--topic-color);
  text-align: center;
  line-height: 40px;
}

.bio {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-family: "Merriweather Sans", sans-serif;
}
.meta {
  margin: 20px 0;
  margin-bottom: 4rem;
  color: var(--text-color);
}
.meta__content {
  white-space: pre;
}

.meta__name {
  text-align: center;
  margin: 30px;
}
