.topic_container {
  display: flex;
  justify-content: center;
}
.topic {
  font-size: 40px;
  color: #6666;
  text-align: center;
  line-height: 40px;
}

.bio_container {
  display: flex;
  flex-direction: column;
}

.link_container {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
}
.meta_container {
  text-align: center;
  margin: 30px 0;
}
.meta_info {
  white-space: pre;
}

.meta_name {
  margin: 30px;
}
