.topic_container {
  display: flex;
  justify-content: center;
}
.topic {
  font-size: 40px;
  color: #6666;
  text-align: center;
  line-height: 40px;
}

.bio_container {
  display: flex;
  flex-direction: column;
}

.link_container {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-family: "Merriweather Sans", sans-serif;
}

.meta_info {
  padding: 10px;
}

.meta_name {
  text-align: center;
  margin: 30px;
}
