.content {
  margin: 0 auto;
  max-width: 700px;
  min-height: 90vh;
  padding: 2rem;
  padding-top: 2rem;
}

.title__text {
  margin: 0;
  font-size: 40px;
  letter-spacing: -4px;
  word-spacing: 10px;
  color: #263959;
}

.title__author {
  margin-top: 5px;
}

.author__name {
  color: #006acb;
  letter-spacing: -1px;
  font-family: "Merriweather Sans", sans-serif;
}

.title {
  margin-bottom: 2rem;
}
