.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: var(--main-color);
  border-top: 18px var(--bg) dashed;
  text-align: center;
  padding: 10px 20px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-family: "Merriweather Sans", sans-serif;
  letter-spacing: -1px;
}

.footer a {
  margin-left: 10px;
  color: var(--header-font-color);
}
