.title {
  margin-bottom: 0.2rem;
  font-size: 30px;
  color: var(--main-color);
}

.title:hover {
  color: var(--main-hover-color);
}

.date {
  color: var(--date-color);
  font-size: 13px;
  margin-bottom: 0.4rem;
}

.tags {
  margin-bottom: 0.4rem;
}

.desc {
  color: var(--text-color);
}
