.title {
  margin-bottom: 0.2rem;
  font-size: 30px;
  color: #2797ff;
}

.title:hover {
  color: #73c7ff;
}

.date {
  color: #666;
  font-size: 13px;
  margin-bottom: 0.4rem;
}

.tags {
  margin-bottom: 0.4rem;
}
